# Ignore all files using an opt-inn approach
*

# Add .gitignore and .gitattributes
!.gitignore
!.gitattributes

# Add license
!LICENSE.txt

# Add todo list
!ToDo.txt

# Add md files
!*.md

# Add fsx files
!*.fsx


# Add package.json and webpackconfig
!package.json
!webpack.config.js

# Add command and batch files
!*.cmd
!*.sh

# ignore release and publish nuget commands
release.cmd
publishnuget.cmd

# Add dotnet tool config
!/.config/
!/.config/*.json

# Add Docker files
!Dockerfile
!.dockerignore

# Add paket
!/.paket/
!/.paket/paket.exe
!/.paket/*.targets

# Add dependencies file
!paket.dependencies
!paket.lock
!paket.references
!paket.template

# Add yml files to ci on appveyor and travis
!appveyor.yml
!.travis.yml

# Add solution file
!*.sln

# Add fsharp project files
!*.fsproj

# Add configurarion files
!*app.config

# Add fsharp source files
!*.fs
!*.fsx

# Add source files
!/scripts/
!/src/
!/src/Informedica.Formulary.Shared/
!/src/Informedica.Formulary.Server/
!/src/Informedica.Formulary.Server/resources/
!/src/Informedica.Formulary.Server/resources/*.csv
!/src/Informedica.Formulary.Server/Scripts/
!/src/Informedica.Formulary.Server/Scripts/resources/
!/src/Informedica.Formulary.Server/Scripts/resources/*.csv
!/src/Informedica.Formulary.Client/
!/src/Informedica.Formulary.Client/*.js
!/src/Informedica.Formulary.Client/public/*.*
!/src/Informedica.Formulary.Client/index.html
!/src/Informedica.Formulary.Client/style.scss
!/src/Informedica.Formulary.Client/Components/
!/src/Informedica.Formulary.Client/Pages/
!/src/Informedica.Formulary.Lib/
!/src/Informedica.Formulary.Lib/Scripts/

# Add test files

# Ignore generated documentation files
/docs/content/**/*.md

# Add documentation
!/docs/
!/docs/content/
!/docs/tools/
!/docs/tools/templates/
!/docs/tools/templates/*.cshtml
!/docs/files/
!/docs/files/img/
!/docs/files/img/*.png
!/docs/files/img/*.gif


# data folder and files
!/resources/
!/resources/*.csv
