source https://api.nuget.org/v3/index.json
framework: auto-detect

nuget Expecto
nuget Expecto.BenchmarkDotNet
nuget Expecto.FsCheck
nuget Expecto.Hopac

nuget MathNet.Numerics.FSharp

nuget Fable.SimpleHttp
nuget Feliz.Markdown
nuget Feliz.Router
nuget FSharp.Core

nuget Fake.Core.Target

nuget Fable.Browser.DOM 
nuget Fable.Core 
nuget Fable.Fetch 
nuget Fable.Elmish
nuget Fable.Elmish.React
nuget Fable.Elmish.Debugger
nuget Fable.Elmish.HMR 
nuget Fable.Mocha
# need to pin this cannot update to 9 version of fable.react
nuget Fable.React ~> 8.0.1
nuget Fable.Remoting.Giraffe
nuget Fable.Remoting.Client

nuget Feliz
nuget Feliz.MaterialUI
nuget Feliz.UseElmish
nuget Fable.MaterialUI.Icons
nuget Fable.MaterialUI.MaterialDesignIcons

nuget Saturn

nuget Informedica.GenForm.Lib
